<div data-role="header" data-position="fixed" data-id="think-content-header" class="header">
    <a href="#scores" data-icon="arrow-l">Scores</a>
    <h1>Report</h1>
</div>

<div data-role="content">
    <p>Please enter your details to
        receive recommendations based
        on your results.</p>

    <div id="submit_report">
        <input id="firstName" type="text" placeholder="First name" />
        <input id="lastName" type="text" placeholder="Last name" />
        <input id="company" type="text" placeholder="Company" />
        <input id="email" type="email" placeholder="Email address" />
        <input id="phone" type="text" placeholder="Phone number" />

        <a href="#" id="sendResultsBtn" data-role="button" data-theme="a" class="btn-small">Send results</a>
    </div>

    <p class="privacy_policy">We care about your privacy. Consult our
        <a href="#">privacy policy</a> for details.</p>
</div>

